<html>
    <head>
        <title>Generic Graph browser via links</title>
        <style>
            #content { 
              overflow:auto; 
              width: 100%;
              background: gray;
            }

            #left, #right {
              margin:5px; 
              padding: 1em; 
              background: white; 
            } 

            #left  { float:left;  width: 45%; }
            #right { float:right; width: 45%;} 

        </style>
    </head>

    <body>
        <h3>Node Info:</h3>
        <ul>
         <li>Node id: {{ node_id }}</li>
        {% for ap in ref.attributes %}
          <li>
          {{ ap.name }} =  {{ ap.value }}
          </li>
        {% endfor %}
         </ul>

         <h3>Outgoing relations:</h3>
         <ul>
             {% for r in ref.relationships.outgoing %}
             <li>
             <a href="{{ r.end_url }}">{{ r.type_name }}</a>
             <br/>
             <ul>
                 {% for rap in r.attributes %}
                 <li>{{ rap.name }} =  {{ rap.value }}</li>
                 {% endfor %}
             </ul>
             </li>
             {% endfor %}

          </ul>

         <h3>Incoming relations:</h3>
         <ul>
             {% for r in ref.relationships.incoming %}
             <li>
             <a href="{{ r.start_url }}">{{ r.type_name }}</a>
             <br/>
             <ul>
                 {% for rap in r.attributes %}
                 <li>{{ rap.value }} =  {{ rap.value }}</li>
                 {% endfor %}
             </ul>
             </li>
             {% endfor %}

          </ul>

          <h3>Create a child node and relationships to/from current node to the child:</h3>
          <div id="content">

              <div id="left">
          <form method="POST" action="{{ start_node_url }}">
              <textarea name="yaml" rows="20" cols="70">#Post your yaml here to create a node as a child</textarea>
              <br/>
              <input type="submit" value="Create"/>
          </form>
          </div>
          <div id="right">
          <pre>
          #here is a sample
          node:
            properties:
              name: down
              value: D

            relations:
              - to_node_id : 97e00125-e2c4-469d-84bb-174307e7845f
                type: FRIEND
              - to_node_id : 671921ba-b99e-45cd-b06c-b58132b4baed
                type: FOE
          </pre>
          </div>

          <br style="clear:both;"/>

        </div>

    </body>
</html>
